$footer-red: #FF1818;
$eventcard-grey: #C4C4C4;
$signIn-btn-red: #E51D1D;
$navbar-background: #C4C4C4;
$manager-black: #000000;
$manager-img-shadow-red: #D81312; /* bunu kullanıyorum */
$footer-img-background: #080707;
$main-page-background: #302D2D; /* bide bu */
$main-page-background-grey: #e5e5e5;



